<%- include('partials/header') -%>
  <div class="mainContainer" style="margin-left: 0px; margin-right: 0px;display: flex; justify-content: center;">
    <div class=" row justify-content-center" style="width: 75%;">
      <div class="" style="">
        <div class="mt-0 mb-5">
          <div class="px-100">
          <h2 id="createMeetup" class="mb-2 text-center">Create A Session</h2>
          <form class="createPost" action="/post/createPost" enctype="multipart/form-data" method="POST">
            <div class="wrapper" style="border-radius: 10px ;">
            <div class="wrapper">
              <div class="title">
                <h2>Title</h2>
              </div>
              <label for="title" class="form-label"></label>
              <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="wrapper">
              <div class="title">
                <h2>Activity</h2>
              </div>
              <label for="activity" class="form-label"></label>
              <input class="form-control" id="activity" name="activity"></input required>
            </div>
            <div class="wrapper">
              <div class="title">
                <h2>Tags</h2>
              </div>
              <div class="content">
                <p>Press enter or add a comma after each tag</p>
                <ul class="tagsUl"><input class="tagsInput" type="text" spellcheck="false">
                </ul>
              </div>
              <div class="details">
                <p><span>10</span> tags are remaining</p>
              </div>
            </div>
            <div class="wrapper">
              <div class="title">
                <h2>Skill Level</h2>
              </div>
              <select id="selectBox" class="mt-3" name="skill" id="skill" required>
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
              </select>
            </div>
            <div class="wrapper">
              <div class="title">
                <h2>Description</h2>
              </div>
              <label for="description" class="form-label"></label>
              <textarea id="msg" rows="3" cols="5" class="form-control" id="description" name="description" required></textarea>
            </div>
            <!-- Date start -->
            <div class="wrapper">
              <div class="title">
                <h2>Date</h2>
              </div>
              <label for="date" class="form-label"></label>
              <input type="datetime-local" class="form-control" name="date" id="date" placeholder="Date" required>
            </div>
            <!-- Date end -->
            <div class="wrapper">
              <div class="title">
                <h2>Image</h2>
              <!-- Radio button For when there is no image -->
              </div>
              <label for="imgUpload" class="form-label"></label>
              <input type="file" class="form-control" id="imageUpload" name="file">
              <!-- <input type="radio" id="imageUpload" name="image" value="https://res.cloudinary.com/db8ys5spw/image/upload/v1670351572/no_image_uojnxn.png"> -->
            </div>
            <div class="wrapper">
              <div class="title">
                <h2>Address</h2>
              </div>
              <div class="content">
                <!-- <p>Example: 9999 Example St, City,State</p> -->
              <label for="address" class="form-label"></label>
              <input id="autocomplete" type="text" class="form-control" name="address" required>
              </div>
              <div id="map" style="height: 400px; width: auto"></div>
            </div>
            <div class="wrapper justifiy-content text-center">
            <button id="createPostSubmit" type="submit" class="btn btn-solid btn-lg ms-auto" value="Upload">Create Session!</button>
          </div>
        </div>
          </form>
        </div>
        <!-- <div>
          <p><strong>User Name</strong>: <%= user.userName %>
          </p>
          <p><strong>Email</strong>: <%= user.email %>
          </p>
          <a href="/logout" class="col-3 btn btn-solid btn-lg ms-auto">Logout</a>
        </div> -->
      </div>
      <!-- <div class="col-6">
        <div class="mt-5">
          <h2>My Events</h2>
          <ul class="row list-unstyled">
            <% for(var i=0; i<posts.length; i++) {%>
              <li class="col-6 justify-content-between mt-5">
                <a href="/post/<%= posts[i]._id%>">
                  <span>
                    <%= posts[i].title%>
                  </span>
                  <img class="img" src="<%= posts[i].image%>">
                </a>
              </li>
          </ul>
          <% } %>
        </div>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div> -->
    </div>
  </div>
</div>

  <%- include('partials/footer') -%>